PMS.BLL/Service References/ServiceReference_Quartz/PMS.Model.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/PMS.Model" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/PMS.Model" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="J_JobInfo">
    <xs:sequence>
      <xs:element minOccurs="0" name="AppID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CreateTime" type="xs:dateTime" />
      <xs:element minOccurs="0" name="CreateUser" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CronStr" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="EndRunTime" type="xs:dateTime" />
      <xs:element minOccurs="0" name="InfoState" type="xs:int" />
      <xs:element minOccurs="0" name="JID" type="xs:int" />
      <xs:element minOccurs="0" name="JobClassName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="JobGroup" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="JobName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="JobState" type="xs:int" />
      <xs:element minOccurs="0" name="NextRunTime" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Remark" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="StartRunTime" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Token" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="isDel" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="J_JobInfo" nillable="true" type="tns:J_JobInfo" />
</xs:schema>