SMSSession/Service References/ServiceReference1/service.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import namespace="http://schemas.datacontract.org/2004/07/PMS.Model.SMSModel" />
  <xs:element name="SendMsg">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/PMS.Model.SMSModel" minOccurs="0" name="smsdata" nillable="true" type="q1:SMSModel_Send" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SendMsgResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SendMsgResult" type="xs:boolean" />
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/PMS.Model.SMSModel" minOccurs="0" name="receiveModel" nillable="true" type="q2:SMSModel_Receive" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>