QuartzProxy/Service References/ServiceReference_QuartzService/PMS.Model.JobDataModel.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/PMS.Model.JobDataModel" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/PMS.Model.JobDataModel" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="QueryJobDataModel">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:BaseJobDataModel">
        <xs:sequence />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="QueryJobDataModel" nillable="true" type="tns:QueryJobDataModel" />
  <xs:complexType name="BaseJobDataModel">
    <xs:sequence>
      <xs:element minOccurs="0" name="JobDataValue" nillable="true" type="xs:anyType" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="BaseJobDataModel" nillable="true" type="tns:BaseJobDataModel" />
  <xs:complexType name="SendJobDataModel">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:BaseJobDataModel">
        <xs:sequence />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="SendJobDataModel" nillable="true" type="tns:SendJobDataModel" />
</xs:schema>