QuartzProxy/Service References/ServiceReference_QuartzService/PMS.Model1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/PMS.Model" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/PMS.Model" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="J_JobInfo">
    <xs:sequence>
      <xs:element minOccurs="0" name="AppID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CreateTime" type="xs:dateTime" />
      <xs:element minOccurs="0" name="CreateUser" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CronStr" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="EndRunTime" type="xs:dateTime" />
      <xs:element minOccurs="0" name="InfoState" type="xs:int" />
      <xs:element minOccurs="0" name="Interval_quartz" type="xs:int" />
      <xs:element minOccurs="0" name="JID" type="xs:int" />
      <xs:element minOccurs="0" name="J_JobTemplate" nillable="true" type="tns:ArrayOfJ_JobTemplate" />
      <xs:element minOccurs="0" name="JobClassName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="JobGroup" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="JobName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="JobState" type="xs:int" />
      <xs:element minOccurs="0" name="NextRunTime" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Remark" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="StartRunTime" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Token" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="UID" type="xs:int" />
      <xs:element minOccurs="0" name="UserInfoes" nillable="true" type="tns:ArrayOfUserInfo" />
      <xs:element minOccurs="0" name="isDel" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="J_JobInfo" nillable="true" type="tns:J_JobInfo" />
  <xs:complexType name="ArrayOfJ_JobTemplate">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="J_JobTemplate" nillable="true" type="tns:J_JobTemplate" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfJ_JobTemplate" nillable="true" type="tns:ArrayOfJ_JobTemplate" />
  <xs:complexType name="J_JobTemplate">
    <xs:sequence>
      <xs:element minOccurs="0" name="CronStr" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="JTID" type="xs:int" />
      <xs:element minOccurs="0" name="JTName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="J_JobInfo" nillable="true" type="tns:ArrayOfJ_JobInfo" />
      <xs:element minOccurs="0" name="JobClassName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="JobGroup" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="JobType" type="xs:int" />
      <xs:element minOccurs="0" name="Remark" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="RoleInfo" nillable="true" type="tns:ArrayOfRoleInfo" />
      <xs:element minOccurs="0" name="UserInfoes" nillable="true" type="tns:ArrayOfUserInfo" />
      <xs:element minOccurs="0" name="isBtn" type="xs:boolean" />
      <xs:element minOccurs="0" name="isDel" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="J_JobTemplate" nillable="true" type="tns:J_JobTemplate" />
  <xs:complexType name="ArrayOfJ_JobInfo">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="J_JobInfo" nillable="true" type="tns:J_JobInfo" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfJ_JobInfo" nillable="true" type="tns:ArrayOfJ_JobInfo" />
  <xs:complexType name="ArrayOfRoleInfo">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="RoleInfo" nillable="true" type="tns:RoleInfo" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfRoleInfo" nillable="true" type="tns:ArrayOfRoleInfo" />
  <xs:complexType name="RoleInfo">
    <xs:sequence>
      <xs:element minOccurs="0" name="ActionInfo" nillable="true" type="tns:ArrayOfActionInfo" />
      <xs:element minOccurs="0" name="Checked" type="xs:boolean" />
      <xs:element minOccurs="0" name="DelFlag" type="xs:boolean" />
      <xs:element minOccurs="0" name="ID" type="xs:int" />
      <xs:element minOccurs="0" name="J_JobTemplate" nillable="true" type="tns:ArrayOfJ_JobTemplate" />
      <xs:element minOccurs="0" name="ModifiedOnTime" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Remark" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="RoleName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Sort" type="xs:int" />
      <xs:element minOccurs="0" name="SubTime" type="xs:dateTime" />
      <xs:element minOccurs="0" name="UserInfo" nillable="true" type="tns:ArrayOfUserInfo" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="RoleInfo" nillable="true" type="tns:RoleInfo" />
  <xs:complexType name="ArrayOfActionInfo">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ActionInfo" nillable="true" type="tns:ActionInfo" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfActionInfo" nillable="true" type="tns:ArrayOfActionInfo" />
  <xs:complexType name="ActionInfo">
    <xs:sequence>
      <xs:element minOccurs="0" name="ActionInfoName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ActionMethodName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ActionTypeEnum" type="xs:short" />
      <xs:element minOccurs="0" name="AreaName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Checked" type="xs:boolean" />
      <xs:element minOccurs="0" name="ControllerName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DelFlag" type="xs:boolean" />
      <xs:element minOccurs="0" name="ID" type="xs:int" />
      <xs:element minOccurs="0" name="IconClassName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="IconCls" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="IconHeight" type="xs:int" />
      <xs:element minOccurs="0" name="IconWidth" type="xs:int" />
      <xs:element minOccurs="0" name="JsFunctionName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MenuIcon" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MethodTypeEnum" type="xs:short" />
      <xs:element minOccurs="0" name="ModifiedOnTime" type="xs:dateTime" />
      <xs:element minOccurs="0" name="ParentID" type="xs:int" />
      <xs:element minOccurs="0" name="R_UserInfo_ActionInfo" nillable="true" type="tns:ArrayOfR_UserInfo_ActionInfo" />
      <xs:element minOccurs="0" name="Remark" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="RoleInfo" nillable="true" type="tns:ArrayOfRoleInfo" />
      <xs:element minOccurs="0" name="Sort" type="xs:int" />
      <xs:element minOccurs="0" name="SubTime" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Url" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="byRole" type="xs:boolean" />
      <xs:element minOccurs="0" name="isShow" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ActionInfo" nillable="true" type="tns:ActionInfo" />
  <xs:complexType name="ArrayOfR_UserInfo_ActionInfo">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="R_UserInfo_ActionInfo" nillable="true" type="tns:R_UserInfo_ActionInfo" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfR_UserInfo_ActionInfo" nillable="true" type="tns:ArrayOfR_UserInfo_ActionInfo" />
  <xs:complexType name="R_UserInfo_ActionInfo">
    <xs:sequence>
      <xs:element minOccurs="0" name="ActionInfo" nillable="true" type="tns:ActionInfo" />
      <xs:element minOccurs="0" name="ActionInfoID" type="xs:int" />
      <xs:element minOccurs="0" name="ID" type="xs:int" />
      <xs:element minOccurs="0" name="UserInfo" nillable="true" type="tns:UserInfo" />
      <xs:element minOccurs="0" name="UserInfoID" type="xs:int" />
      <xs:element minOccurs="0" name="isPass" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="R_UserInfo_ActionInfo" nillable="true" type="tns:R_UserInfo_ActionInfo" />
  <xs:complexType name="UserInfo">
    <xs:sequence>
      <xs:element minOccurs="0" name="Checked" type="xs:boolean" />
      <xs:element minOccurs="0" name="DelFlag" type="xs:boolean" />
      <xs:element minOccurs="0" name="ID" type="xs:int" />
      <xs:element minOccurs="0" name="J_JobInfo" nillable="true" type="tns:ArrayOfJ_JobInfo" />
      <xs:element minOccurs="0" name="J_JobTemplate" nillable="true" type="tns:ArrayOfJ_JobTemplate" />
      <xs:element minOccurs="0" name="ModifiedOnTime" type="xs:dateTime" />
      <xs:element minOccurs="0" name="N_News" nillable="true" type="tns:ArrayOfN_News" />
      <xs:element minOccurs="0" name="R_UserInfo_ActionInfo" nillable="true" type="tns:ArrayOfR_UserInfo_ActionInfo" />
      <xs:element minOccurs="0" name="R_UserInfo_DepartmentInfo" nillable="true" type="tns:ArrayOfR_UserInfo_DepartmentInfo" />
      <xs:element minOccurs="0" name="R_UserInfo_Group" nillable="true" type="tns:ArrayOfR_UserInfo_Group" />
      <xs:element minOccurs="0" name="R_UserInfo_News" nillable="true" type="tns:ArrayOfR_UserInfo_News" />
      <xs:element minOccurs="0" name="R_UserInfo_PersonInfo" nillable="true" type="tns:ArrayOfR_UserInfo_PersonInfo" />
      <xs:element minOccurs="0" name="R_UserInfo_SMSMission" nillable="true" type="tns:ArrayOfR_UserInfo_SMSMission" />
      <xs:element minOccurs="0" name="Remark" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="RoleInfo" nillable="true" type="tns:ArrayOfRoleInfo" />
      <xs:element minOccurs="0" name="S_SMSContent" nillable="true" type="tns:ArrayOfS_SMSContent" />
      <xs:element minOccurs="0" name="S_SMSMsgContent" nillable="true" type="tns:ArrayOfS_SMSMsgContent" />
      <xs:element minOccurs="0" name="Sort" type="xs:int" />
      <xs:element minOccurs="0" name="SubTime" type="xs:dateTime" />
      <xs:element minOccurs="0" name="UName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="UPwd" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="UserInfo" nillable="true" type="tns:UserInfo" />
  <xs:complexType name="ArrayOfN_News">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="N_News" nillable="true" type="tns:N_News" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfN_News" nillable="true" type="tns:ArrayOfN_News" />
  <xs:complexType name="N_News">
    <xs:sequence>
      <xs:element minOccurs="0" name="NewsContent" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NewsType" type="xs:int" />
      <xs:element minOccurs="0" name="R_UserInfo_News" nillable="true" type="tns:ArrayOfR_UserInfo_News" />
      <xs:element minOccurs="0" name="SNID" type="xs:int" />
      <xs:element minOccurs="0" name="SubDateTime" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Title" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="UID" type="xs:int" />
      <xs:element minOccurs="0" name="UserInfo" nillable="true" type="tns:UserInfo" />
      <xs:element minOccurs="0" name="isDel" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="N_News" nillable="true" type="tns:N_News" />
  <xs:complexType name="ArrayOfR_UserInfo_News">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="R_UserInfo_News" nillable="true" type="tns:R_UserInfo_News" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfR_UserInfo_News" nillable="true" type="tns:ArrayOfR_UserInfo_News" />
  <xs:complexType name="R_UserInfo_News">
    <xs:sequence>
      <xs:element minOccurs="0" name="ID" type="xs:int" />
      <xs:element minOccurs="0" name="NID" type="xs:int" />
      <xs:element minOccurs="0" name="N_News" nillable="true" type="tns:N_News" />
      <xs:element minOccurs="0" name="UID" type="xs:int" />
      <xs:element minOccurs="0" name="UserInfo" nillable="true" type="tns:UserInfo" />
      <xs:element minOccurs="0" name="isCheck" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="R_UserInfo_News" nillable="true" type="tns:R_UserInfo_News" />
  <xs:complexType name="ArrayOfR_UserInfo_DepartmentInfo">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="R_UserInfo_DepartmentInfo" nillable="true" type="tns:R_UserInfo_DepartmentInfo" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfR_UserInfo_DepartmentInfo" nillable="true" type="tns:ArrayOfR_UserInfo_DepartmentInfo" />
  <xs:complexType name="R_UserInfo_DepartmentInfo">
    <xs:sequence>
      <xs:element minOccurs="0" name="DID" type="xs:int" />
      <xs:element minOccurs="0" name="ID" type="xs:int" />
      <xs:element minOccurs="0" name="P_DepartmentInfo" nillable="true" type="tns:P_DepartmentInfo" />
      <xs:element minOccurs="0" name="UID" type="xs:int" />
      <xs:element minOccurs="0" name="UserInfo" nillable="true" type="tns:UserInfo" />
      <xs:element minOccurs="0" name="isPass" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="R_UserInfo_DepartmentInfo" nillable="true" type="tns:R_UserInfo_DepartmentInfo" />
  <xs:complexType name="P_DepartmentInfo">
    <xs:sequence>
      <xs:element minOccurs="0" name="Area" type="xs:int" />
      <xs:element minOccurs="0" name="Checked" type="xs:boolean" />
      <xs:element minOccurs="0" name="DID" type="xs:int" />
      <xs:element minOccurs="0" name="DepartmentName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="IsPass" type="xs:boolean" />
      <xs:element minOccurs="0" name="PDID" type="xs:int" />
      <xs:element minOccurs="0" name="P_PersonInfo" nillable="true" type="tns:ArrayOfP_PersonInfo" />
      <xs:element minOccurs="0" name="R_Department_Mission" nillable="true" type="tns:ArrayOfR_Department_Mission" />
      <xs:element minOccurs="0" name="R_UserInfo_DepartmentInfo" nillable="true" type="tns:ArrayOfR_UserInfo_DepartmentInfo" />
      <xs:element minOccurs="0" name="Remark" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Text" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="isDel" type="xs:boolean" />
      <xs:element minOccurs="0" name="selected" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="P_DepartmentInfo" nillable="true" type="tns:P_DepartmentInfo" />
  <xs:complexType name="ArrayOfP_PersonInfo">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="P_PersonInfo" nillable="true" type="tns:P_PersonInfo" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfP_PersonInfo" nillable="true" type="tns:ArrayOfP_PersonInfo" />
  <xs:complexType name="P_PersonInfo">
    <xs:sequence>
      <xs:element minOccurs="0" name="PID" type="xs:int" />
      <xs:element minOccurs="0" name="PName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="P_DepartmentInfo" nillable="true" type="tns:ArrayOfP_DepartmentInfo" />
      <xs:element minOccurs="0" name="P_Group" nillable="true" type="tns:ArrayOfP_Group" />
      <xs:element minOccurs="0" name="PhoneNum" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="R_UserInfo_PersonInfo" nillable="true" type="tns:ArrayOfR_UserInfo_PersonInfo" />
      <xs:element minOccurs="0" name="Remark" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="S_SMSRecord_Current" nillable="true" type="tns:ArrayOfS_SMSRecord_Current" />
      <xs:element minOccurs="0" name="S_SMSRecord_History" nillable="true" type="tns:ArrayOfS_SMSRecord_History" />
      <xs:element minOccurs="0" name="isDel" type="xs:boolean" />
      <xs:element minOccurs="0" name="isVIP" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="P_PersonInfo" nillable="true" type="tns:P_PersonInfo" />
  <xs:complexType name="ArrayOfP_DepartmentInfo">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="P_DepartmentInfo" nillable="true" type="tns:P_DepartmentInfo" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfP_DepartmentInfo" nillable="true" type="tns:ArrayOfP_DepartmentInfo" />
  <xs:complexType name="ArrayOfP_Group">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="P_Group" nillable="true" type="tns:P_Group" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfP_Group" nillable="true" type="tns:ArrayOfP_Group" />
  <xs:complexType name="P_Group">
    <xs:sequence>
      <xs:element minOccurs="0" name="Checked" type="xs:boolean" />
      <xs:element minOccurs="0" name="GID" type="xs:int" />
      <xs:element minOccurs="0" name="GroupName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ModifiedOnTime" type="xs:dateTime" />
      <xs:element minOccurs="0" name="P_PersonInfo" nillable="true" type="tns:ArrayOfP_PersonInfo" />
      <xs:element minOccurs="0" name="R_Group_Mission" nillable="true" type="tns:ArrayOfR_Group_Mission" />
      <xs:element minOccurs="0" name="R_UserInfo_Group" nillable="true" type="tns:ArrayOfR_UserInfo_Group" />
      <xs:element minOccurs="0" name="Remark" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Sort" type="xs:int" />
      <xs:element minOccurs="0" name="SubTime" type="xs:dateTime" />
      <xs:element minOccurs="0" name="forbidDel" type="xs:boolean" />
      <xs:element minOccurs="0" name="isDel" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="P_Group" nillable="true" type="tns:P_Group" />
  <xs:complexType name="ArrayOfR_Group_Mission">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="R_Group_Mission" nillable="true" type="tns:R_Group_Mission" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfR_Group_Mission" nillable="true" type="tns:ArrayOfR_Group_Mission" />
  <xs:complexType name="R_Group_Mission">
    <xs:sequence>
      <xs:element minOccurs="0" name="GroupID" type="xs:int" />
      <xs:element minOccurs="0" name="ID" type="xs:int" />
      <xs:element minOccurs="0" name="MissionID" type="xs:int" />
      <xs:element minOccurs="0" name="P_Group" nillable="true" type="tns:P_Group" />
      <xs:element minOccurs="0" name="S_SMSMission" nillable="true" type="tns:S_SMSMission" />
      <xs:element minOccurs="0" name="isMMS" type="xs:int" />
      <xs:element minOccurs="0" name="isPass" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="R_Group_Mission" nillable="true" type="tns:R_Group_Mission" />
  <xs:complexType name="S_SMSMission">
    <xs:sequence>
      <xs:element minOccurs="0" name="ModifiedOnTime" type="xs:dateTime" />
      <xs:element minOccurs="0" name="R_Department_Mission" nillable="true" type="tns:ArrayOfR_Department_Mission" />
      <xs:element minOccurs="0" name="R_Group_Mission" nillable="true" type="tns:ArrayOfR_Group_Mission" />
      <xs:element minOccurs="0" name="R_UserInfo_SMSMission" nillable="true" type="tns:ArrayOfR_UserInfo_SMSMission" />
      <xs:element minOccurs="0" name="Remark" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SMID" type="xs:int" />
      <xs:element minOccurs="0" name="SMSMissionName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="S_SMSContent" nillable="true" type="tns:ArrayOfS_SMSContent" />
      <xs:element minOccurs="0" name="S_SMSMsgContent" nillable="true" type="tns:ArrayOfS_SMSMsgContent" />
      <xs:element minOccurs="0" name="S_SMSRecord_History" nillable="true" type="tns:ArrayOfS_SMSRecord_History" />
      <xs:element minOccurs="0" name="Sort" type="xs:int" />
      <xs:element minOccurs="0" name="SubTime" type="xs:dateTime" />
      <xs:element minOccurs="0" name="isDel" type="xs:boolean" />
      <xs:element minOccurs="0" name="isMMS" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="S_SMSMission" nillable="true" type="tns:S_SMSMission" />
  <xs:complexType name="ArrayOfR_Department_Mission">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="R_Department_Mission" nillable="true" type="tns:R_Department_Mission" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfR_Department_Mission" nillable="true" type="tns:ArrayOfR_Department_Mission" />
  <xs:complexType name="R_Department_Mission">
    <xs:sequence>
      <xs:element minOccurs="0" name="DepartmentID" type="xs:int" />
      <xs:element minOccurs="0" name="ID" type="xs:int" />
      <xs:element minOccurs="0" name="MissionID" type="xs:int" />
      <xs:element minOccurs="0" name="P_DepartmentInfo" nillable="true" type="tns:P_DepartmentInfo" />
      <xs:element minOccurs="0" name="S_SMSMission" nillable="true" type="tns:S_SMSMission" />
      <xs:element minOccurs="0" name="SubTime" type="xs:dateTime" />
      <xs:element minOccurs="0" name="isMMS" type="xs:int" />
      <xs:element minOccurs="0" name="isPass" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="R_Department_Mission" nillable="true" type="tns:R_Department_Mission" />
  <xs:complexType name="ArrayOfR_UserInfo_SMSMission">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="R_UserInfo_SMSMission" nillable="true" type="tns:R_UserInfo_SMSMission" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfR_UserInfo_SMSMission" nillable="true" type="tns:ArrayOfR_UserInfo_SMSMission" />
  <xs:complexType name="R_UserInfo_SMSMission">
    <xs:sequence>
      <xs:element minOccurs="0" name="ID" type="xs:int" />
      <xs:element minOccurs="0" name="SMID" type="xs:int" />
      <xs:element minOccurs="0" name="S_SMSMission" nillable="true" type="tns:S_SMSMission" />
      <xs:element minOccurs="0" name="UID" type="xs:int" />
      <xs:element minOccurs="0" name="UserInfo" nillable="true" type="tns:UserInfo" />
      <xs:element minOccurs="0" name="isPass" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="R_UserInfo_SMSMission" nillable="true" type="tns:R_UserInfo_SMSMission" />
  <xs:complexType name="ArrayOfS_SMSContent">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="S_SMSContent" nillable="true" type="tns:S_SMSContent" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfS_SMSContent" nillable="true" type="tns:ArrayOfS_SMSContent" />
  <xs:complexType name="S_SMSContent">
    <xs:sequence>
      <xs:element minOccurs="0" name="BlackList" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FdfsContent" nillable="true" type="tns:ArrayOfFdfsContent" />
      <xs:element minOccurs="0" name="ID" type="xs:int" />
      <xs:element minOccurs="0" name="MSTitle" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ResultCode" type="xs:int" />
      <xs:element minOccurs="0" name="SMID" type="xs:int" />
      <xs:element minOccurs="0" name="SMSContent" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="S_SMSMission" nillable="true" type="tns:S_SMSMission" />
      <xs:element minOccurs="0" name="S_SMSRecord_Current" nillable="true" type="tns:ArrayOfS_SMSRecord_Current" />
      <xs:element minOccurs="0" name="S_SMSRecord_History" nillable="true" type="tns:ArrayOfS_SMSRecord_History" />
      <xs:element minOccurs="0" name="SendDateTime" type="xs:dateTime" />
      <xs:element minOccurs="0" name="UID" type="xs:int" />
      <xs:element minOccurs="0" name="UserInfo" nillable="true" type="tns:UserInfo" />
      <xs:element minOccurs="0" name="isDel" type="xs:boolean" />
      <xs:element minOccurs="0" name="isMMS" type="xs:boolean" />
      <xs:element minOccurs="0" name="msgId" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="smsCount" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="S_SMSContent" nillable="true" type="tns:S_SMSContent" />
  <xs:complexType name="ArrayOfFdfsContent">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="FdfsContent" nillable="true" type="tns:FdfsContent" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfFdfsContent" nillable="true" type="tns:ArrayOfFdfsContent" />
  <xs:complexType name="FdfsContent">
    <xs:sequence>
      <xs:element minOccurs="0" name="Ext" type="xs:int" />
      <xs:element minOccurs="0" name="FdfsStorage" nillable="true" type="tns:FdfsStorage" />
      <xs:element minOccurs="0" name="FdfsTracker" nillable="true" type="tns:FdfsTracker" />
      <xs:element minOccurs="0" name="FileName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ID" type="xs:int" />
      <xs:element minOccurs="0" name="SID" type="xs:int" />
      <xs:element minOccurs="0" name="S_SMSContent" nillable="true" type="tns:ArrayOfS_SMSContent" />
      <xs:element minOccurs="0" name="ScrollName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TID" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="FdfsContent" nillable="true" type="tns:FdfsContent" />
  <xs:complexType name="FdfsStorage">
    <xs:sequence>
      <xs:element minOccurs="0" name="FdfsContent" nillable="true" type="tns:ArrayOfFdfsContent" />
      <xs:element minOccurs="0" name="GroupName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Port" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SID" type="xs:int" />
      <xs:element minOccurs="0" name="URL" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="FdfsStorage" nillable="true" type="tns:FdfsStorage" />
  <xs:complexType name="FdfsTracker">
    <xs:sequence>
      <xs:element minOccurs="0" name="FdfsContent" nillable="true" type="tns:ArrayOfFdfsContent" />
      <xs:element minOccurs="0" name="GroupName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Port" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="StorePathIndex" type="xs:int" />
      <xs:element minOccurs="0" name="TID" type="xs:int" />
      <xs:element minOccurs="0" name="URL" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="FdfsTracker" nillable="true" type="tns:FdfsTracker" />
  <xs:complexType name="ArrayOfS_SMSRecord_Current">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="S_SMSRecord_Current" nillable="true" type="tns:S_SMSRecord_Current" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfS_SMSRecord_Current" nillable="true" type="tns:ArrayOfS_SMSRecord_Current" />
  <xs:complexType name="S_SMSRecord_Current">
    <xs:sequence>
      <xs:element minOccurs="0" name="DescContent" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PID" type="xs:int" />
      <xs:element minOccurs="0" name="P_PersonInfo" nillable="true" type="tns:P_PersonInfo" />
      <xs:element minOccurs="0" name="PersonName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PhoneNum" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SCID" type="xs:int" />
      <xs:element minOccurs="0" name="SRID" type="xs:int" />
      <xs:element minOccurs="0" name="S_SMSContent" nillable="true" type="tns:S_SMSContent" />
      <xs:element minOccurs="0" name="StatusCode" type="xs:int" />
      <xs:element minOccurs="0" name="isVIP" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="S_SMSRecord_Current" nillable="true" type="tns:S_SMSRecord_Current" />
  <xs:complexType name="ArrayOfS_SMSRecord_History">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="S_SMSRecord_History" nillable="true" type="tns:S_SMSRecord_History" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfS_SMSRecord_History" nillable="true" type="tns:ArrayOfS_SMSRecord_History" />
  <xs:complexType name="S_SMSRecord_History">
    <xs:sequence>
      <xs:element minOccurs="0" name="DescContent" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PID" type="xs:int" />
      <xs:element minOccurs="0" name="P_PersonInfo" nillable="true" type="tns:P_PersonInfo" />
      <xs:element minOccurs="0" name="SCID" type="xs:int" />
      <xs:element minOccurs="0" name="SRID" type="xs:int" />
      <xs:element minOccurs="0" name="S_SMSContent" nillable="true" type="tns:S_SMSContent" />
      <xs:element minOccurs="0" name="S_SMSMission" nillable="true" type="tns:S_SMSMission" />
      <xs:element minOccurs="0" name="StatusCode" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="S_SMSRecord_History" nillable="true" type="tns:S_SMSRecord_History" />
  <xs:complexType name="ArrayOfS_SMSMsgContent">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="S_SMSMsgContent" nillable="true" type="tns:S_SMSMsgContent" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfS_SMSMsgContent" nillable="true" type="tns:ArrayOfS_SMSMsgContent" />
  <xs:complexType name="S_SMSMsgContent">
    <xs:sequence>
      <xs:element minOccurs="0" name="MsgContent" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MsgName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Remark" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SMID" type="xs:int" />
      <xs:element minOccurs="0" name="S_SMSMission" nillable="true" type="tns:S_SMSMission" />
      <xs:element minOccurs="0" name="Sort" type="xs:int" />
      <xs:element minOccurs="0" name="SubTime" type="xs:dateTime" />
      <xs:element minOccurs="0" name="TID" type="xs:int" />
      <xs:element minOccurs="0" name="UID" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="UserInfo" nillable="true" type="tns:UserInfo" />
      <xs:element minOccurs="0" name="isDel" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="S_SMSMsgContent" nillable="true" type="tns:S_SMSMsgContent" />
  <xs:complexType name="ArrayOfR_UserInfo_Group">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="R_UserInfo_Group" nillable="true" type="tns:R_UserInfo_Group" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfR_UserInfo_Group" nillable="true" type="tns:ArrayOfR_UserInfo_Group" />
  <xs:complexType name="R_UserInfo_Group">
    <xs:sequence>
      <xs:element minOccurs="0" name="GID" type="xs:int" />
      <xs:element minOccurs="0" name="ID" type="xs:int" />
      <xs:element minOccurs="0" name="P_Group" nillable="true" type="tns:P_Group" />
      <xs:element minOccurs="0" name="UID" type="xs:int" />
      <xs:element minOccurs="0" name="UserInfo" nillable="true" type="tns:UserInfo" />
      <xs:element minOccurs="0" name="isPass" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="R_UserInfo_Group" nillable="true" type="tns:R_UserInfo_Group" />
  <xs:complexType name="ArrayOfR_UserInfo_PersonInfo">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="R_UserInfo_PersonInfo" nillable="true" type="tns:R_UserInfo_PersonInfo" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfR_UserInfo_PersonInfo" nillable="true" type="tns:ArrayOfR_UserInfo_PersonInfo" />
  <xs:complexType name="R_UserInfo_PersonInfo">
    <xs:sequence>
      <xs:element minOccurs="0" name="ID" type="xs:int" />
      <xs:element minOccurs="0" name="PID" type="xs:int" />
      <xs:element minOccurs="0" name="P_PersonInfo" nillable="true" type="tns:P_PersonInfo" />
      <xs:element minOccurs="0" name="UID" type="xs:int" />
      <xs:element minOccurs="0" name="UserInfo" nillable="true" type="tns:UserInfo" />
      <xs:element minOccurs="0" name="isPass" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="R_UserInfo_PersonInfo" nillable="true" type="tns:R_UserInfo_PersonInfo" />
  <xs:complexType name="ArrayOfUserInfo">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="UserInfo" nillable="true" type="tns:UserInfo" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfUserInfo" nillable="true" type="tns:ArrayOfUserInfo" />
</xs:schema>