QuartzProxy/Service References/ServiceReference_QuartzService/service21.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import namespace="http://schemas.datacontract.org/2004/07/PMS.Model" />
  <xs:element name="AddScheduleJob">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/PMS.Model" minOccurs="0" name="jobInfo" nillable="true" type="q1:J_JobInfo" />
        <xs:element minOccurs="0" name="data_temp" nillable="true" type="xs:anyType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddScheduleJobResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AddScheduleJobResult" nillable="true" type="xs:anyType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddListener">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="jobListener" nillable="true" type="xs:anyType" />
        <xs:element minOccurs="0" name="JobName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="GroupName" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddListenerResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ResumeAllJob">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ResumeAllJobResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ResumeTargetJob">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/PMS.Model" minOccurs="0" name="job" nillable="true" type="q2:J_JobInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ResumeTargetJobResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ResumeTargetJobResult" nillable="true" type="xs:anyType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RemovceJob">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/PMS.Model" minOccurs="0" name="job" nillable="true" type="q3:J_JobInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RemovceJobResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="RemovceJobResult" nillable="true" type="xs:anyType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PauseJob">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/PMS.Model" minOccurs="0" name="job" nillable="true" type="q4:J_JobInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PauseJobResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="PauseJobResult" nillable="true" type="xs:anyType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RemoveJob">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/PMS.Model" minOccurs="0" name="job" nillable="true" type="q5:J_JobInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RemoveJobResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="RemoveJobResult" nillable="true" type="xs:anyType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>