WCFTestDemo/Service References/ServiceReference_QuartzService/PMS.Model.Message.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/PMS.Model.Message" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/PMS.Model.Message" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="BaseResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="Message" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Success" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="BaseResponse" nillable="true" type="tns:BaseResponse" />
</xs:schema>