WCFTestDemo/Service References/ServiceReference_QuartzService/PMS.Model.ViewModel.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/PMS.Model.ViewModel" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/PMS.Model.ViewModel" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:complexType name="ViewModel_Message">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:ViewModel_BaseJob">
        <xs:sequence>
          <xs:element minOccurs="0" name="Content" nillable="true" type="xs:string" />
          <xs:element xmlns:q1="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="DepartmentIds" nillable="true" type="q1:ArrayOfint" />
          <xs:element xmlns:q2="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="GroupIds" nillable="true" type="q2:ArrayOfint" />
          <xs:element xmlns:q3="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="PersonId_Int" nillable="true" type="q3:ArrayOfint" />
          <xs:element minOccurs="0" name="PersonIds" nillable="true" type="xs:string" />
          <xs:element xmlns:q4="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="PhoneNum_Str" nillable="true" type="q4:ArrayOfstring" />
          <xs:element minOccurs="0" name="PhoneNums" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="SMSMissionID" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="ViewModel_Message" nillable="true" type="tns:ViewModel_Message" />
  <xs:complexType name="ViewModel_BaseJob">
    <xs:sequence>
      <xs:element minOccurs="0" name="AppID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CreateTime" type="xs:dateTime" />
      <xs:element minOccurs="0" name="CreateUser" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CronStr" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="EndRunTime" type="xs:dateTime" />
      <xs:element minOccurs="0" name="InfoState" type="xs:int" />
      <xs:element minOccurs="0" name="JID" type="xs:int" />
      <xs:element minOccurs="0" name="JobClassName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="JobGroup" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="JobName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="JobState" type="xs:int" />
      <xs:element minOccurs="0" name="NextRunTime" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Remark" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="StartRunTime" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Token" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="UID" type="xs:int" />
      <xs:element minOccurs="0" name="isDel" type="xs:boolean" />
      <xs:element minOccurs="0" name="isTiming" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ViewModel_BaseJob" nillable="true" type="tns:ViewModel_BaseJob" />
</xs:schema>